<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Products | Create a new product</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'products/css/main.css' %}"media="screen" title="no title"  charset="utf-8">
</head>
<body>
	<h1>Add a new product</h1>
	<div id="message">
		{% if request.session.message %}
			<h2>{{ request.session.message }}</h2>
		{% elif request.session.error %}
			<h2>{{ request.session.error }}</h2>
		{% endif %}
	</div>
	<form action="/products" method="post">
		{% csrf_token %}
		<label for="name">Name</label>
		<input type="text" name="name" placeholder="Name..."><br>
		<label for="description">Description</label>
		<input type="text" name="description" placeholder="Description..."><br>
		<label for="price">Price</label>
		<input type="text" name="price" placeholder="Price..."><br>
		<button type="submit">Create</button>
	</form>
	<a href="/">Go Back</a>
</body>
</html>