* {
	padding: 0;
	margin: 0;
}
.wrapper {

}

#header_left,
#header_right {
	display: inline-block;
}
#header_right a {
	color: blue;
}

#header_left,
#header_right,
.top_content,
.bottom_content {
	width: 45%;
	margin: 1%;
}