<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Friends | Login/Registration</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'friends/css/style.css' %}"media="screen" title="no title"  charset="utf-8">
</head>
<body>
	<div class="wrapper">
		<h1>Welcome!</h1>
		<div id="message">
			{% if messages %}
				<ul class="messages">
				    {% for message in messages %}
				    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				    {% endfor %}
				</ul>
			{% endif %}
		</div>
		<div class="left_content">
			<form action="/friends/register" method="post">
				{% csrf_token %}
				<fieldset>
					<legend>Register</legend>
					<label for="name">Name:  </label>
					<input type="text" name="name" id="name" placeholder="Name...">
					<label for="alias">Alias:  </label>
					<input type="text" name="alias" id="alias" placeholder="Alias...">
					<label for="email">Email:  </label>
					<input type="email" name="email" id="email" placeholder="Email...">
					<label for="password">Password:  </label>
					<input type="password" name="password" id="password" placeholder="Password...">
					<label>*Password should be at least 8 characters</label>
					<label for="confirm_pw">Confirm Password:  </label>
					<input type="password" name="confirm_pw" id="confirm_pw" placeholder="Confirm password...">
					<label for="dob">Date of Birth:  </label>
					<input type="date" name="dob" id="dob">
					<button type="submit">Register</button>
				</fieldset>
			</form>
		</div>
		<div class="right_content">
			<form action="/friends/login" method="post">
				{% csrf_token %}
				<fieldset>
					<legend>Login</legend>
					<label for="login_email">Email:  </label>
					<input type="email" name="login_email" id="login_email" placeholder="Email...">
					<label for="login_password">Password:  </label>
					<input type="password" name="login_password" id="login_password" placeholder="Password...">
					<button type="submit">Login</button>
				</fieldset>
			</form>
		</div>
	</div>
</body>
</html>