<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Friends | {{ user.name }} Profile Page</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'friends/css/style.css' %}"media="screen" title="no title"  charset="utf-8">
</head>
<body>
	<div class="wrapper">
		<h1>Welcome!</h1>
		<div class="header">
			<a href="/friends/dashboard">Home</a>
			<a href="/friends/logout">Logout</a>
		</div>
		<div class="top_content">
			<h1>{{ user.alias }}'s Profile</h1>
			<p>Name:  {{ user.name }}</p>
			<p>Email:  {{ user.email }}</p>
		</div>
	</div>
</body>
</html>