<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Courses | Delete Course</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'courses_main/css/style.css' %}"media="screen" title="no title"  charset="utf-8">
</head>
<body>
	<div id="wrapper">
		<h1>Are you sure you want to delete the following course?</h1>
		<p>Name: {{course.course_name }}</p>
		<p>Description:  {{ course.description }}</p>
		<form action="/" method="get">
			{% csrf_token %}
			<button type="submit">No, keep course</button>
		</form>
		<form action="/course/destroy/{{ course.id }}" method="post">
			{% csrf_token %}
			<button type="submit">Remove</button>
		</form>
	</div>
</body>
</html>